body {
  background-color: #111;
}
.img1 {
  cursor:  pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 400px;
  height: 250px;
  margin: auto;
  opacity: 0.5;
}
.img1:hover {
  opacity: 1;
}
.btn-lista,
.btn-tabela {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: #111;
  background-image: -webkit-linear-gradient(45deg, #070707 50%, #111 50%);
  background-image: linear-gradient(45deg, #000000 50%, #111 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  color: #FFF;
}
.btn-lista:hover, .btn-tabela:hover {
    background-position: 0;
}
.btn-tabela {
  margin-left: 10px;
}